<form (ngSubmit)="onSubmit()">
  <mat-form-field class="add-margin">
    <mat-label>Breed</mat-label>
    <input matInput placeholder="Shiba Inu" [(ngModel)]="breed"  name="breed">
  </mat-form-field>
  <mat-form-field class="add-margin">
    <mat-label>Image URL</mat-label>
    <input matInput [(ngModel)]="url" name="url">
  </mat-form-field>
  <mat-form-field class="add-margin">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="description" name="description">
  </mat-form-field>
  <button mat-button color="primary">ADD</button>
</form>

